<header><h1>André Ramaciotti</h1></header>

<main>
  <p>Olá, eu sou o <a href="/sobre.html">André</a>.  Sou um desenvolvedor
      Asp.Net MVC, trabalhando principalmente com C#, mas tenho experiência
      também como como desenvolvedor e instrutor de C++, além de palpitar na
      área de Engenharia de Software.</p>
</main>

<section>
  <h2>Últimos Textos</h2>

  <ul>$posts$</ul>

  <p>Ver <a href="/posts.html">todos os artigos</a></p>
</section>

<section>
  <h2>Tags</h2>

  $tags$
</section>
